 <!-- Rename Modal -->
   <div class="modal fade" id="editDeck" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Deck</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="" id="deck"> 
            <input class="form-control" type="text" placeholder="Deck Name">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" form="deck" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
 
 
 <!-- Add deck Modal -->
 
 <div class="modal fade" id="addDeck" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Deck</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/deck/newDeck" id="newDeck" method="POST"> 
            <input class="form-control" type="text" name="title" placeholder="New Deck">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" form="newDeck" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
 

<!-- add card 2.0 modal -->

<div class="modal fade" id="addCard" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Card</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="newCard"  action="" method="post">
         
         
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Front</label>
            <input type="text" name="front" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Back</label>
            <textarea name="back" class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" form="newCard" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

 