@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
* {
  box-sizing: border-box;
  font-family: 'EB Garamond', serif;
}
p{
  font-family:'Times New Roman', Times, serif;
  font-size: 1.5rem;
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.navbar-collapse{
  justify-content: space-between;
  padding: 0 30px 0 0;
  font-size: 1.2rem;
}
.navbar-brand {
  font-size: 1.5rem;
}
footer{
  bottom:0px;
  padding: 5px 0;
  width:100%;
  background:rgb(52,58,64);
  text-align: center;
}
footer *{
  color: white;
}

main{
  display: flex;
  height: 100vh; 
  justify-content: center;
  align-items: center;
 
}

  /* ///////////////cardFlip//////////////////// */
  
.flip-card {
  background-color: transparent;
  width: 50vw;
  height: 70vh;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}


/* card css */
#cardHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botonera{
  padding: 20px 0;
}
 
 
/* deck container */
#deckContainer{
  margin: 40px;
  height: 100vh;
}


 
/* hide elements */
.hidden{
  display: none;
}

.CodeMirror{
  max-height: 30vh !important;
  font-size: 1.5rem;
}

/* table content */

table{
  font-size: 1.5rem;
}


@media only screen and (max-width: 780px) {
  .flip-card{
    width: 100%;
  }
}